<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navegacion') %>
    
    <main class="vh.100 container pt-2 text-center display-flex justify-content-cennter align-items-center">
        <section class="show-case">
            <h2 class="display-1">Acerca de Nosotros</h2>
            <div class="img-tienda">
              <img src="img/tienda..jpg" alt="tienda">
            </div>

            <div class="descripcion-acerca-de">
              <p>Aplicacion web orientada a la venta de Comida Japonesa con un amplio 
              catalogo de platos ademas de diseño atractivo para nustros visitantes.</p>
            </div>
                          
               <div class="container text-center">
                <div class="row align-items-start">
                  <div class="col">
                    <h2 class="title-acerca-de">Navegacion</h2>
                    <p class="descripcion">Permite que tengamos acceso a todas las rutas de la pagina de una manera sencilla y facil de utilizar o manejar.</p>
                  </div>
                  <div class="col">
                    <h2 class="title-acerca-de">Pagina de detalles</h2>
                    <p class="descripcion">Muestra detalles matis completos de cada producto, incluyendo imágenes, descripciones y precios</p>
                  </div>
                  <div class="col">
                    <h2 class="title-acerca-de">Carrito de compras</h2>
                    <p class="descripcion">Permite a los usuarios añadir productos a un “Carrito Virtual” y ver un resumen de sus compras antes de realizar el pago.</p>
                  </div>
                  <div class="col">
                    <h2 class="title-acerca-de">Pagina de Contactos</h2>
                    <p class="descripcion">Muestra informacion de los empleados y dueños del restaurante esto para dar mas confianza a nuestros usuarios al ingresar a la pagina.</p>
                  </div>
                  <div class="col">
                    <h2 class="title-acerca-de">Integracion con Redes Sociales</h2>
                    <p class="descripcion">Permite a los usuarios compartir en sus redes sociales y atraer a mas clientes a la tienda en línea.</p>
                  </div>
                </div>
              </div>
              
        </section>
    </main>
   
    <%- include('partials/footer') %>
    <script src="https://unpkg.com/scrollreveal"></script>
  <script>ScrollReveal().reveal('.container');</script>
</body>

</html>