body {
    background: #202020;
    color: white;

}

/*SISTEMA DE NAVEGACION RESPONSIVE*/
.navbar-brand {
  font-family: 'Itim', cursive;
  font-size: 1.5rem;
}
/*TODO EL SISTEMA DE TARJETAS DE LOS PRODECTOS*/
.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(212, 199, 199, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  overflow: hidden;
}

.product-image {
  width: 300px;
  height: 200px;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.product-info {
  width: 50%;
  padding: 20px;
  text-align: center;
}

.product-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product-description {
  font-size: 0.9em;
  color: grey;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  background-color: #00bfff;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 768px) {
  .product-card {
    width: 90%;
  }

  .product-image, .product-info {
    width: 100%;
  }
}


/**MODAL*/
/* Estilo para el botón "Ver carrito" */
#cart {
  display: none;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(54, 52, 52);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
  margin-block: initial;
  transition: all 2s ease-in-out;
}

#show-cart-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}

#cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#cart-total {
  margin-top: 20px;
  font-weight: bold;
}


/*CUSTOM ACERDA DE NOSOTROS*/
.title-acerca-de {
 color: #00bfff;
 white-space: auto;
 font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}
.descripcion-acerca-de {
  margin-top: 40px;
  text-align: unset;
}

.img-tienda img {
  width: 70%;
  height: auto;
  border-radius: 12px;
}
.github-avatar {
  width: 198px;
  height: 198px;
  border-radius: 50%;
  margin-bottom: 8px;
  margin-left: 34px;
  display: inline-block;
}

@media (max-width: 768px) {
  .github-avatar {
    width: 64px;
    height: 64px;
  }
}


/*REDES SOCIALES*/
.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  margin-bottom: 20px;
}

.social-icons a {
  color: #333;
  font-size: 40px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.social-icons a:hover {
  color: #fff;
}

/*ESTILOS DEL FOOTER*/
footer {
  background-color: #333;
  color: #fff;
  padding: 16px;
  text-align: center;
  bottom: 0;
  width: 100%;
}