<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tienda De Comida Japonesa</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/">
            <span class="material-icons me-1">home</span>
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/acerca">
            <span class="material-icons me-1">info</span>
            Acerca de Nosotros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/contacto">
            <span class="material-icons me-1">email</span>
            Contacto
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>