<div class="social-icons">
    <ul>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u=<URL de la imagen del producto>"">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/intent/tweet?url=<URL de la imagen del producto>">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/share?url=<URL de la imagen del producto>">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>

<script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>

